<!doctype html>
<html>
    <head>
        <link rel='stylesheet'  href='/static/assets/css/app.css' type='text/css' media='all' />
    </head>
    <body>

        {% block content %}{% endblock %}

        <script src="/static/assets/js/app.js"></script>

        {% block javascript %}{% endblock %}
    </body>
</html>
