{% extends 'base.twig' %}

{% block content %}
<section class="row">
    <div id="screen" class="medium-5 columns">
        <div id="boards">

        </div>
        <div id="boardsMessage">

        </div>
    </div>
</section>
<section class="row">
    <div class="actionBlock">
        <a class="btn btn-reset">Reset</a>
    </div>
</section>
{% endblock %}


{% block javascript %}
<script>
    Game.init();

    Game.addPlayer('boussad');
    Game.addPlayer('gabriel');

    document.querySelector('.btn-reset').addEventListener('click', Interactive.loadButtonReset);

</script>
{% endblock %}
