{% extends 'base.twig' %}

{% block content %}
<div id="screen">
    <div id="boards">

    </div>
    <div id="boardsMessage">

    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script>
    var socket = io();

    Game.init();

    Online.online = true;

    Game.addPlayer('boussad');
    Game.addPlayer('gabriel');
</script>
{% endblock %}
