{% extends 'base.twig' %}

{% block content %}
<div class="row">
    <div id="boardsMessage" class="medium-6 columns medium-push-6">
        {% include 'chat/chat.inc.twig' %}
    </div>
    <div id="screen" class="medium-6 columns medium-pull-6">
        <div id="search">
            <a id="searchgame">Recherche d'une partie</a>
            <a id="searchgameleave">Quitter la recherche d'une partie</a>
        </div>
        <div id="boards">

        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script>
    var socket = io();

    searchgame.addEventListener('click', Interactive.searchGame);
    searchgameleave.addEventListener('click', Interactive.searchGameLeave);

    socket.on('game find', function(msg){

        Game.init();

        Online.online = true;

        Game.addPlayer('boussad');
        Game.addPlayer('gabriel');
    });

    socket.on('game action', function(action){
        action = JSON.parse(action);

        if(action.action == 'ChangeCaseValue') {

            Game.getBoard().setCasePlayer(null, action);
            Game.alternatePlayer();

        }
        else if(action.action == 'pushMessage'){

            pushMessage(action);

        }

    });

    var socket = io();
    chat('game');

</script>
{% endblock %}
