{% extends 'base.twig' %}

{% block content %}
<div id="screen">
    <div id="search">
        <a id="searchgame">Recherche d'une partie</a>
        <a id="searchgameleave">Quitter la recherche d'une partie</a>
    </div>
    <div id="boards">

    </div>
    <div id="boardsMessage">

    </div>
</div>
<ul id="messages"></ul>

<form id="chat" action="">
    <input id="m" autocomplete="off" /><button>Send</button>
</form>
<form id="formUsername" action="">
    <input id="username" autocomplete="off" placeholder="username" /><button>Send</button>
</form>
{% endblock %}

{% block javascript %}
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script>
    var socket = io();

    searchgame.addEventListener('click', Interactive.searchGame);
    searchgameleave.addEventListener('click', Interactive.searchGameLeave);

    socket.on('game find', function(msg){

        Game.init();

        Online.online = true;

        Game.addPlayer('boussad');
        Game.addPlayer('gabriel');
    });

    socket.on('game action', function(action){
        action = JSON.parse(action);

        const columns = document.querySelectorAll(`[data-column~="${action.y}"]`);
        const currentPlayer = action.player;

        console.log(columns[action.x]);
        columns[action.x].dataset.player = currentPlayer;
        columns[action.x].classList.add(`case-${currentPlayer}`);
    });

    var socket = io();
    chat('game');

</script>
{% endblock %}
