{% extends 'base.twig' %}

{% block content %}
<div id="screen">
    <div id="search">
        <a id="searchgame">Recherche d'une partie</a>
        <a id="searchgameleave">Quitter la recherche d'une partie</a>
    </div>
    <div id="boards">

    </div>
    <div id="boardsMessage">

    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script>
    var socket = io();

    searchgame.addEventListener('click', Interactive.searchGame);
    searchgameleave.addEventListener('click', Interactive.searchGameLeave);

    socket.on('game find', function(msg){

        Game.init();

        Online.online = true;

        Game.addPlayer('boussad');
        Game.addPlayer('gabriel');
    });

</script>
{% endblock %}
