{% extends 'base.twig' %}

{% block content %}
<section id="mode">
    <header class="row">
        <div class="medium-12 columns">
            <h2 class="text-center ">Choix du mode de jeu</h2>
        </div>
    </header>
    <main class="row">
        <div class="medium-6 columns callout offline">
            <p class="launch">
                <a href="/game/">Jouer</a>
            </p>
            <p>
                <ul>
                    <li>Jouer sans avoir besoin de connexion !</li>
                </ul>
            </p>
        </div>
        <div class="medium-6 columns callout multiplayer">
            <p class="launch">
                <a href="/game/online">Jouer en multijoueur</a>
            </p>
            <p>
                <ul>
                    <li>Le mode multijoueur est réservé aux membres inscrits (<b>à venir</b>)</li>
                    <li>Vos statistiques de victoire et de défaites sont enregistrés (<b>à venir</b>)</li>
                    <li>&Agrave; venir vos replays ! (<b>à venir</b>)</li>
                </ul>
            </p>
        </div>
    </main>
</section>
{% endblock %}
