{% extends 'base.twig' %}

{% block content %}
<section id="mode">
    <header class="row">
        <div class="medium-12 columns">
            <h2 class="text-center ">Choix du mode de jeu</h2>
        </div>
    </header>
    <main class="row">
        <div class="medium-6 columns">
            <a href="/game/">Jouer</a>
        </div>
        <div class="medium-6 columns">
            <a href="/game/online">Jouer en multijoueur</a>
        </div>
    </main>
</section>
{% endblock %}
