{% extends 'base.twig' %}

{% block content %}
<section>
    <header class="row">
        <div class="medium-12 columns">
            <h2 class="text-center ">Replay de votre partie</h2>
        </div>
    </header>
    <main>
        <section id="boardBlock">
            <div id="screen" class="medium-6 columns">
                <div id="boards">
                </div>
            </div>
            <div id="boardsMessage" class="medium-6 columns">
                <div id="containerMessage">
                    <ul id="messages">
                    </ul>
                </div>
            </div>

        </section>
    </main>
</section>
{% endblock %}


{% block javascript %}
    <script>

        Game.init(0);

        Interactive.playable = false;

        const content = {{ replay.data }};

        content.forEach(item => {

            console.log(item);

            if(item.action == 'ChangeCaseValue')
            {
                Game.getBoard().setCasePlayer(null, item);
            }
            else if(item.action == 'pushMessage' || item.action == 'leaveGame')
            {
                pushMessage(item);
            }

        });

    </script>
{% endblock %}
