#screen{
    position: relative;

    margin: auto;
}
#boards {
    width: 350px;
    height: 350px;

    padding: 1rem;
    
    margin: auto;
    margin-top: 1rem;

    background: red;

    .case-0::before {
        content: 'X';
    }
    .case-1::before {
        content: 'O';
    }
    .line{
        display: block;
    }
    .case {
        display: inline-block;
        vertical-align: top;

        font-size: 1.5rem;

        color: white;
        background: $colorCarrer;
    }
}

#mode{

    main{
        width: 100vw;
        height: auto;

        margin-top: 1rem;
        padding: 2rem;

        div{
            text-align: center;

            ul {
                text-align: left;
            }

            // &.multiplayer{
            //     background: $colorOrangeRed;
            // }
            // &.offline {
            //     background: $colorDarkBlue;
            // }

            .launch{
                padding: 2rem;
            }
        }
    }
}

#searchBlock{
    div{
        margin: auto;
        text-align: center;
    }
}

.actionBlock{
    position: relative;

    margin: auto;
    margin-top: 1rem;

    a{
        display: block;
    }
}
