#screen{
    position: relative;

    margin: auto;
}
#boards {
    width: 350px;
    height: 350px;

    padding: 1rem;
    margin: auto;

    background: red;
}
#boards .case-0::before {
    content: 'X';
}
#boards .case-1::before {
    content: 'O';
}
.line{
    display: block;
}
.case {
    display: inline-block;
    vertical-align: top;

    font-size: 1.5rem;

    color: white;
    background: $colorCarrer;
}

#mode{
    background: $colorOrangeRed;

    header{
        width: 100vw;

        padding: 2rem;

        h2{
            color: white;
        }
    }
    main{
        width: 100vw;
        height: auto;

        margin-top: 1rem;
        padding: 2rem;
    }
    div{
        text-align: center;

        a{
            padding: 1rem;

            text-transform: uppercase;

            background: black;
            color: white;

            &:hover{
                background: gray;
            }
        }
    }
}
