#screen{
    position: relative;

    margin: auto;
}
#boards {
    width: 350px;
    height: 350px;

    padding: 1rem;

    margin: auto;
    margin-top: 1rem;

    background: red;

    .case-0::before {
        content: 'X';
        // align-items: center;
        //
        // justify-content: center;
    }
    .case-1::before {
        content: 'O';

        // align-items: center;
        //
        // justify-content: center;
    }
    .line{
        display: flex;
        flex-wrap: wrap;

        .case{
            background-color: rgba(0, 0, 0, 0.2);
            cursor: crosshair;
        }

        &-0{
            .case {
                  width: 31.3%;
                  margin: 0.2rem;

                &:before{
                    content: '';
                    float: left;
                    padding: 50%;
                }
            }
        }

        &-1{
            .case {

                  width: 17.9%;
                  margin: 0.2rem;

                &:before{
                    content: '';
                    float: left;
                    padding: 50%;
                }
            }
        }

        &-2{
            .case {

                  width: 12.2%;
                  margin: 0.2rem;

                &:before{
                    content: '';
                    float: left;
                    padding: 50%;
                }
            }
        }
    }
}

#mode{

    main{
        width: 100vw;
        height: auto;

        margin-top: 1rem;
        padding: 2rem;

        div{
            text-align: center;

            ul {
                text-align: left;
            }

            // &.multiplayer{
            //     a {
            //         margin-top: 1rem;
            //     }
            // }
            // &.offline {
            //     background: $colorDarkBlue;
            // }

            .launch{
                padding: 1rem;

                @media screen and (min-width: 64em) {
                    padding: 2rem;
                }

                a{
                    display: block;

                    &.active{
                        background: #14967c;
                    }
                }
            }
        }
    }
}

#searchBlock{
    div{
        margin: auto;
        text-align: center;
    }
}


#options {

    a{
        display: inline-block;
        margin-top: 0.5rem;
        width: 100%;

        @media screen and (min-width: 64em) {
            width: 48%;
            margin: 0.5rem;
            text-align: center;
        }

        &.active{
            background: #14967c;
            color: white;
        }
    }
}

.actionBlock{
    position: relative;

    margin: auto;
    margin-top: 1rem;

    a{
        display: block;

        &.inline
        {
            display: inline-block;
        }
    }

    .score{
        display: inline-block;
        padding: 1rem;
        text-transform: uppercase;
        background: black;
        color: white;
    }
}
